body {
    margin: 0;
    padding: 0;

    
}

.page {
    height: 100vh;
    width: 100vw;

    /* display: none; */
}

.centrar {
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;

}

.centrar2 {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;

}

.button {
    height: 15vh;
    width: 15vw;

    background-color: black;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.white {
    background-color: white;
}

.character {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    
    height: 20vh;
    width: 90vw;
    
    background-color: darkkhaki;
}

.carpic {
    height: 20vh;
    width: 30vw;

    border: 0.1em solid black;
    color:black;

    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
}

.playerselection {
    height: 10vh;
    width: 20vw;
    color:black;

    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
}

.cartext {
    height: 20vh;
    width: 60vw;

    font-family:cursive;
    border: 0.1em solid black;
    color:black;
}

.car1 {
    background-image: url("../img/cars/grisbonito.jpg");
}

.car2 {
    background-image: url("../img/cars/moradollamas.jpg");
}

.car3 {
    background-image: url("../img/cars/rojo88.jpg");
}

.car4 {
    background-image: url("../img/cars/verdellamas.jpg");
}

#page3row1 {
    height: 21vh;
    width: 100vw;

    /* background-color: blueviolet; */
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: row;
}

#page3space1 {
    height: 20vh;
    width: 40vw;
}

#page3row2 {
    height: 49vh;
    width: 100vw;

    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: row;
}

.cardescription {
    color:black;
    border: 0.1em solid black;

    height: 49vh;
    width: 30vw;
}

#page3space2 {
    height: 49vh;
    width: 40vw;
}

#page3row3 {
    height: 30vh;
    width: 100vw;

    display:flex;
    justify-content:center;
    align-items:center;
}

#steeringwheel {
    height: 10vh;
    width: 10vw;

    background-image: url("../img/volante.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
}

.grey {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}